.git
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.env
Qdrant_text_ingestor/.pycache_tmp
Qdrant_text_ingestor/Documents Ingestion.ipynb
Qdrant_text_ingestor/data/*.csv
feature_test
